@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap');

// Font Family:
$font-family-base: 'Plus Jakarta Sans', sans-serif;

// Font Weight:
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 400;
$font-weight-regular: 300;

// Brand Colors:
$color-primary-light: #f3c96f;
$color-primary-main: #f1bc4b;
$color-primary-dark: #a88334;
$color-primary-contrast: #211e1e;
$color-primary-background: #fdf4e3;

$color-secondary-light: #f38f6f;
$color-secondary-main: #f1734b;
$color-secondary-dark: #a85034;
$color-secondary-contrast: #211e1e;
$color-secondary-background: #fde9e3;

$color-tertiary-light: #9e604c;
$color-tertiary-main: #863920;
$color-tertiary-dark: #5d2716;
$color-tertiary-contrast: #f0efee;
$color-tertiary-background: #f4e5e1;

// Feedback Colors:
$color-error-light: #ef5350;
$color-error-main: #d32f2f;
$color-error-dark: #c62828;
$color-error-contrast: #ffffff;
$color-error-background: #ffddee;

$color-success-light: #4caf50;
$color-success-main: #2e7d32;
$color-success-dark: #1b5e20;
$color-success-contrast: #ffffff;
$color-success-background: #edf7ed;

$color-warning-light: #ff9800;
$color-warning-main: #ed6c02;
$color-warning-dark: #e65100;
$color-warning-contrast: #211e1e;
$color-warning-background: #fff4e5;

$color-info-light: #03a9f4;
$color-info-main: #0288d1;
$color-info-dark: #01579b;
$color-info-contrast: #ffffff;
$color-info-background: #e5f6fd;

// Base Colors:
$color-base-dark-secondary: #565454;
$color-base-dark-main: #333333;
$color-base-dark-highlight: #211e1e;
$color-base-dark-contrast: #ffffff;
$color-base-dark-disabled: #aeaeae;

$color-base-light-secondary: #f5f5f5;
$color-base-light-main: #ededed;
$color-base-light-hightlight: #d6d5d5;
$color-base-light-contrast: #ffffff;

// Background Colors:
$color-background-01: #ffffff;
