// Line Height:
$line-height-xxs: 100%;
$line-height-xs: 115%;
$line-height-sm: 120%;
$line-height-md: 133%;
$line-height-lg: 150%;
$line-height-xl: 175%;

// Letter Spacing:
$letter-spacing-default: 0px;
$letter-spacing-sm: -1px;
$letter-spacing-md: -2px;
$letter-spacing-lg: -3px;

// Font Size:
$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 20px;
$font-size-md: 24px;
$font-size-lg: 32px;
$font-size-xl: 40px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-display: 80px;
$font-size-giant: 96px;

// Border Radius:
$border-radius-none: 0px;
$border-radius-sm: 8px;
$border-radius-md: 16px;
$border-radius-lg: 24px;
$border-radius-pill: ≥ 500px;
$border-radius-circle: 50%;

// Border Widths:
$border-width-none: 0px;
$border-width-hairline: 1px;
$border-width-thin: 2px;
$border-width-thick: 4px;
$border-width-heavy: 8px;

// Spacing Inline:
$spacing-inline-quarck: 4px;
$spacing-inline-nano: 8px;
$spacing-inline-xxxs: 16px;
$spacing-inline-xxs: 24px;
$spacing-inline-xs: 32px;
$spacing-inline-sm: 40px;
$spacing-inline-md: 48px;
$spacing-inline-lg: 64px;
$spacing-inline-xl: 80px;

//Spacing Stack:
$spacing-stack-quarck: 4px;
$spacing-stack-nano: 8px;
$spacing-stack-xxxs: 16px;
$spacing-stack-xxs: 24px;
$spacing-stack-xs: 32px;
$spacing-stack-sm: 40px;
$spacing-stack-md: 48px;
$spacing-stack-lg: 56px;
$spacing-stack-xl: 64px;
$spacing-stack-xxl: 80px;
$spacing-stack-xxxl: 120px;
$spacing-stack-huge: 160px;
$spacing-stack-giant: 200px;
