@import './_variables.scss';

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;

  body {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: $font-family-base;
    background-color: $color-background-01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
      color: inherit;
      text-decoration: none;
    }

    button {
      border: none;
      font-family: $font-family-base;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
