@import './_variables.scss';

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-base;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: $font-family-base;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
