@import '../../styles/_variables.scss';

.principal_section {
  width: 100%;
  margin: 0 0 $spacing-stack-xxl 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-size-up(tablet) {
    width: calc(100% - (2 * $spacing-stack-sm));
    margin: 0 $spacing-stack-sm $spacing-stack-xxl $spacing-stack-sm;
    flex-direction: row;
    height: 504px;
  }

  @include media-size-up(desktop) {
    width: calc(100% - (2 * $spacing-stack-xxl));
    margin: 0 calc($spacing-stack-xxl - 8px) $spacing-stack-xxl
      calc($spacing-stack-xxl - 8px);
    height: 680px;
  }

  @include media-size-up(desktop-g) {
    width: calc(1600px - (2 * $spacing-stack-xxl + 12px));
    margin: 0 calc($spacing-stack-xxl + 12px) $spacing-stack-xxl
      calc($spacing-stack-xxl + 12px);
    height: 780px;
  }
}
