@import './styles/_variables.scss';

.container {
  background-color: $color-background-01;
  padding: 0 $spacing-stack-xxs;

  @include media-size-up(desktop) {
    padding: 0 $spacing-stack-xs;
  }

  @include media-size-up(desktop-g) {
    padding: 0 $spacing-stack-sm;
  }
}
