@import './styles/_variables.scss';

.content {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-background-01;
}
